
.jumbotron{
    background-color:#212022;
    text-align:center;
    padding-top: 120px;
    color: aliceblue;
}

.navbar.navbar-inverse.navbar-fixed-top
{
    background-color:#212022;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 80px;
    padding-bottom: 0;
    
}
.navbar.navbar-inverse.navbar-fixed-top a
{
    font-size: 20px;
    
    
}
.hii
{
   padding-top: 20px;
}

.carousel{
   
  height:600px;
}
.carousel-inner > .item > img {
    
    height:600px;
  }